@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --fundo: rgb(254, 255, 246);
    --fundo-button: rgb(192, 192, 192);
    --texto: rgb(65, 65, 65);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.navbar-conjunto{
    color: var(--texto);
    font-family: "Boldonse";
    font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.conteiner{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gerador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
    max-width: 2000px;
    margin: 0 auto;
}
    
.informacao{
    color: var(--texto);
    font-family: "Roboto Slab";
    text-align: justify;
    margin-bottom: 50px;
}

.frase{
    height: 100px;

}

.btn-gerador {
    background-color: var(--fundo-button);
    color:  var(--texto);
    font-family: "Boldonse";
    padding: 5px 25px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-gerador:hover{
    background-color: rgb(173, 173, 173);
    color: var(--texto);
    transform: scale(0.95);
}

.btn-gerador:active{
    background-color: rgb(158, 158, 158);
    color: var(--texto);
    transform: scale(0.9);
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.contato ul{
    display: inline-flex;
    list-style: none;
    gap: 50px;
}

.contato li{ 
    transform: scale(2);
    transition: 0.3s ease;
}

.contato li:hover{
    transform: scale(3);
}

.contato i{
    color: var(--texto);
}